@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
  background-color: #01071c;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #1a8fdd;
}

::-webkit-scrollbar-thumb:hover {
  background: #0a2266;
}

input[type="radio"] {
  accent-color: black;
}
body {
  scroll-behavior: smooth;
}

.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.63);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.blob {
  aspect-ratio: 1;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: rotatei 10s infinite;
  opacity: 0.3;
}

@keyframes rotatei {
  from {
    transform: rotate(0deg);
  }

  50% {
    transform: scale(1, 1.2);
  }

  to {
    transform: rotate(360deg);
  }
}

:root {
  --gradient-shadow: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
}

.shadow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  border-radius: 100%;
  background: linear-gradient(0deg, #000, #262626);
}
.shadow:before,
.shadow:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  top: -2px;
  left: -2px;
  background: var(--gradient-shadow);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 20s linear infinite;
}

.shadow:after {
  filter: blur(20px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Set your background color */
}

/* Style for the logo inside the loading container */
.loading-logo img {
  width: 100px; /* Adjust the initial size of your logo */
  height: auto;
  animation: scaleLogo 1s infinite alternate;
}

@keyframes scaleLogo {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2); /* Adjust the scale factor as needed */
  }
}

/* Style for the content area (your actual webpage content) */
.content {
  display: none; /* Hide the content initially */
}
